/* Styles/TestimonialSection.module.css */
.container {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: center; /* Center the content horizontally */
  padding: 20px; /* Add padding around the container */
  gap: 20px; /* Add space between the text and image sections */
}

.textSection {
  flex: 2; /* Takes up 2/3 of the space */
  text-align: left;
  padding-right: 20px; /* Adjust as needed */
}

.imageSection {
  flex: 1; /* Takes up 1/3 of the space */
  position: relative;
  padding-right: 30px; /* Add padding to the right of the image */
  height: 500px; /* Adjust height as needed */
  border-radius: 10px; /* Adjust border-radius as needed */
  overflow: hidden; /* Ensure the border-radius clips the image */
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #fff; /* Adjust the color as needed */
}

.paragraph {
  font-size: 1.75rem;
  color: #fff; /* Adjust the color as needed */
}
